@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
}
header{
    width: 100vw;
    border: 2px solid gray;
    height: 1069px;
    position: relative;
    background-color: black;
    z-index: -2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.img-header{
    width: 100%; /* Адаптивна ширина */
    height: auto; /* Зберігайте пропорції */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.navi{
    /*border: 2px solid gray;*/
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    margin-top: 50px;
}
ul{
    list-style: none;
    display: flex;
    margin-left: 230px;
}
.navigation li{
    padding: 20px;
    height: 29px;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
/*header ul li{*/
/*    margin-left: 10px;*/

/*}*/
header nav{
    display: flex;
}
.header-logo{
    margin-bottom: 30px;
    margin-left: 300px;
}
.text-banner-info{
    width: 713px;
    height: 481px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /*border: 2px solid gray;*/
    margin-top: 150px;
}
.text-banner-1{
    /* New innovation New motivation */

    width: 495px;
    height: 34px;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.12em;
    margin-left: 100px;

    color: rgba(176, 172, 172, 0.8);


}
.text-banner-2{
    /* Тренуйся разом з GORILAS */

    width: 713px;
    /*height: 174px;*/
    /*left: 611px;*/
    /*top: 453px;*/

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    /*line-height: 88px;*/
    text-align: center;
    letter-spacing: -0.01em;

    color: #D2D0D0;


}
.text-banner-2 span{
    color: #AF0404;
}
.text-banner-info button{
    /* Frame 39 */
    display: flex;
    padding: 6px 30px;
    width: 380px;
    height: 50px;
    background: #AF0404;
    border-radius: 6px;

}
.button-text{
    /*width: 382px;*/
    /*height: 59px;*/
    color: #FFFFFF;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    display: flex;
    align-items: center;
}
.button-text svg{
    margin-bottom: -5px;
    margin-left: 10px;
}
.text-banner-3{
    /* Перше заняття та консультація з тренером безкоштовно */
    width: 544px;
    height: 57px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: rgba(176, 172, 172, 0.8);
    margin-top: -20px;
}
.text-banner-3 span{
    color: #FFFFFF;
}
.header-logo-2{
    margin-top: 50px;
    margin-left: 1150px;
}
main{
    background-color: #000000;
    width: 100vw;
    height: 1038px;
}
.section-1{

    border: 2px solid gray;
    width: 100%;

}
.section-1 h1{
    /* Зробіть перший крок до здорового життя - відвідайте наш спортзал */

    width: 1625px;
    height: 163px;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}
.section-1 p{
    /* У нашому спортзалі вас чекають сучасні тренажери для кардіо та силових тренувань, зони для функціонального тренування і растяжки. Наші професійні тренери завжди готові надати персоналізовану підтримку і поради з харчування, щоб допомогти вам досягти найкращих результатів. Атмосфера в спортзалі є дружньою та мотиваційною, де кожен може знайти підтримку для досягнення своїх цілей фітнесу. */
    width: 1331px;
    height: 143px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-left: 30px;
}
.section-1-info{
    display: flex;
    justify-content: space-between;
}
.section-1-logo{
    margin-top: 60px;
}