@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
}

body, html {
    overflow-x: hidden;
    padding: 0;
}

/*body{*/
/*    overflow-y: hidden;*/
/*}*/

header {
    width: 100vw;
    border: 2px solid gray;
    height: 1069px;
    position: relative;
    background-color: black;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.img-header {
    width: 100%; /* Адаптивна ширина */
    height: auto; /* Зберігайте пропорції */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.navi {
    /*border: 2px solid gray;*/
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    margin-top: 50px;
}

ul {
    list-style: none;
    display: flex;
    margin-left: 230px;
}

.navigation li {
    padding: 20px;
    height: 29px;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

/*header ul li{*/
/*    margin-left: 10px;*/

/*}*/
header nav {
    display: flex;
}

.header-logo {
    margin-bottom: 30px;
    margin-left: 300px;
}

.text-banner-info {
    width: 713px;
    height: 481px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /*border: 2px solid gray;*/
    margin-top: 150px;
}

.text-banner-1 {
    /* New innovation New motivation */

    width: 495px;
    height: 34px;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.12em;
    margin-left: 100px;

    color: rgba(176, 172, 172, 0.8);


}

.text-banner-2 {
    /* Тренуйся разом з GORILAS */

    width: 713px;
    /*height: 174px;*/
    /*left: 611px;*/
    /*top: 453px;*/

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    /*line-height: 88px;*/
    text-align: center;
    letter-spacing: -0.01em;

    color: #D2D0D0;


}

.text-banner-2 span {
    color: #AF0404;
}

.text-banner-info button {
    /* Frame 39 */
    display: flex;
    padding: 6px 30px;
    width: 380px;
    height: 50px;
    background: #AF0404;
    border-radius: 6px;

}

.button-text {
    /*width: 382px;*/
    /*height: 59px;*/
    color: #FFFFFF;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    display: flex;
    align-items: center;
}

.button-text svg {
    margin-bottom: -5px;
    margin-left: 10px;
}

.text-banner-3 {
    /* Перше заняття та консультація з тренером безкоштовно */
    width: 544px;
    height: 57px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: rgba(176, 172, 172, 0.8);
    margin-top: -20px;
}

.text-banner-3 span {
    color: #FFFFFF;
}

.header-logo-2 {
    margin-top: 50px;
    margin-left: 1150px;
}

main {
    background-color: #000000;
    /*width: 100vw;*/
    /*height: 1038px;*/
}

.section-1 {
    width: 100%;
    z-index: -2;
}

.box {
    width: 86%;
    margin-left: 100px;
    /*margin-top: 100px;*/
}

.section-1 h1 {
    /* Зробіть перший крок до здорового життя - відвідайте наш спортзал */

    width: 1625px;
    height: 163px;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.section-1 p {
    /* У нашому спортзалі вас чекають сучасні тренажери для кардіо та силових тренувань, зони для функціонального тренування і растяжки. Наші професійні тренери завжди готові надати персоналізовану підтримку і поради з харчування, щоб допомогти вам досягти найкращих результатів. Атмосфера в спортзалі є дружньою та мотиваційною, де кожен може знайти підтримку для досягнення своїх цілей фітнесу. */
    width: 1331px;
    height: 143px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-left: 30px;
    margin-top: -40px;
}

.section-1-info {
    display: flex;
    justify-content: space-between;
}

.section-1-logo {
    margin-top: 20px;
}

.img-play {

    width: 85.5vw;
}

/*.play-logo {*/
/*    position: relative;*/
/*    z-index: 2;*/
/*    margin-top: 150px;*/
/*    margin-left: 550px;*/
/*}*/

/*.time-logo {*/
/*    position: relative;*/
/*    z-index: 2;*/
/*    margin-top: 100px;*/
/*    margin-left: 1150px;*/
/*}*/
.info-training {
    height: auto;
    background-color: black;
    display: flex;
    margin-top: 100px;
    z-index: -1;
    justify-content: center;
}

.info-box, .info-box-2 {
    width: 41vw;
    height: 50vh;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.info-box-2 img {
    width: 41vw;
    height: 50vh;
    z-index: 0;
    border-radius: 30px;
    margin-left: 25px;
    box-shadow: 0 4px 6px rgba(128, 128, 128, 0.5);
}

.info-box img {
    width: 41vw;
    height: 50vh;
    z-index: 0;
    margin-right: 25px;
}

.info-text {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 43px;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    z-index: 1;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    text-align: center;
    padding: 10px;
}

.feedback {
    height: auto;
    margin-top: 150px;
}

.feedback-info span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    /*line-height: 37px;*/
    color: #FFFFFF;
}

.feedback-info {
    display: flex;
    justify-content: space-evenly;
}

.feedback-info span:nth-of-type(2) {
    /* ВІДГУКИ ВІДВІДУВАЧІВ */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 55px;
    /* identical to box height */
    color: #FFFFFF;
}

.feedback-info svg {
    margin-bottom: -10px;
}

.feedback-user {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    height: auto;
}

.feedback-box-1,
.feedback-box-2,
.feedback-box-3 {
    width: 600px;
    height: 300px;
    background-color: lightgray;
    border-radius: 40px;
    /*border: 2px solid gray;*/
    position: relative;
    flex-shrink: 0;
}

.feedback-box-1 {
    clip-path: inset(0 0 0 50%);
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

}

.feedback-box-2 {
    transform: translateX(-15%);
}

.feedback-box-3 {
    clip-path: inset(0 50% 0 0);
    transform: translateX(10%);
}

.feedback-box-1 h1 {
    /* Михальчишин */
    margin-top: -20px;
    /* Кіт Оксана */
    width: 155px;
    height: 34px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #151515;
    margin-left: 190px;
    margin-bottom: 100px;
}

.feedback-box-1 p {
    /* У спортзалі "Віддайся Фітнесу" кожен крок — це крок до кращої версії себе. Наші сучасні тренажери та професійні інструктори допоможуть тобі впоратися з будь-яким викликом. */

    width: 490px;
    height: 81px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    color: #000000;
    margin-bottom: -100px;
}

.zero {
    z-index: 1;
    margin-left: -280px;
    margin-top: 80px;
    margin-right: 120px;
}

.zero-2 {
    z-index: 1;
    margin: 80px -25px 100px -75px;
    width: auto;
}

.box-1 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.box-1 h1 {
    margin-top: 50px;
    /* Кіт Оксана */
    width: 155px;
    height: 34px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #151515;
    margin-left: -30px;
}

.box-1 span {
    /* gym pro */
    width: 69px;
    height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #AF0404;
    margin-left: -30px;
}

.box-1 svg {
    margin-top: 50px;
    margin-left: 60px;
}

.feedback-box-2 {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.feedback-box-2 div {
    margin-left: 40px;
}

.box-2 p {
    /* "Спортзал — моя друга домівка! Тут кожен день — новий виклик, нові досягнення. Відчуваю, як моє тіло стає сильнішим, а душа — щасливішою. */
    width: 490px;
    height: 81px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    color: #000000;
}

.feedback-box-3 {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.feedback-box-3 div {
    margin-left: 40px;
}

.box-man-1 {
    display: flex;
    margin-bottom: 40px;
}

.box-man-2 p {
    width: 490px;
    height: 86px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    color: #000000;
    overflow: hidden;

}

.box-man-1 span {
    /* gym pro */
    width: 69px;
    height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #AF0404;
    margin-left: -70px;
}

.box-man-1 h1 {
    margin-top: 50px;
    /* Кіт Оксана */
    width: 155px;
    height: 34px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #151515;
    margin-left: -70px;
}

.logo-feed {
    margin-left: 700px;
    margin-top: 100px;
}

footer {
    display: flex;
    height: 135vh;
    background-color: black;
}

.register-train {
    width: 500px;
    height: 400px;
    background-color: lightgray;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 110px;
}

.name, .phone {
    width: 400px;
    height: 40px;
    background: darkgray;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    border: none; /* Видалення рамки */
}

input[type="text"], input[type="tel"] {
    text-align: start;
    box-sizing: border-box;
}

.butt {
    /* Rectangle 27 */

    width: 200px;
    height: 51px;
    background: #AF0404;
    border-radius: 30px;
    margin-left: 100px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;


}

.register-train h1:nth-last-of-type(1) {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 40px;
}

.register-train h1:nth-last-of-type(2) {
    width: 336px;
    height: 21px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 20px;
}

.footer-info {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 30px;
}

.footer-info ul, .footer-info span {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    /* Тренувальні програми Блог Новини Спільнота Інформація про членство */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 20px;
}

.footer-info span {
    margin-top: 20px;
}

.footer-info svg {
    margin-bottom: -70px;
    margin-left: 20px;
}

.footer-photo img {
    width: 800px;
    height: 900px;
    margin-left: 150px;
}

.gorilas {
    /* GORILAS */

    position: absolute;
    width: 1875px;
    height: 110px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 110px;
    /* identical to box height */
    letter-spacing: 2.6em;
    margin-top: 800px;

    color: rgba(255, 255, 255, 0.5);


}
