@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
}

body, html {
    overflow-x: hidden;
}
/*body{*/
/*    overflow-y: hidden;*/
/*}*/

header {
    width: 100vw;
    border: 2px solid gray;
    height: 1069px;
    position: relative;
    background-color: black;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.img-header {
    width: 100%; /* Адаптивна ширина */
    height: auto; /* Зберігайте пропорції */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.navi {
    /*border: 2px solid gray;*/
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    margin-top: 50px;
}

ul {
    list-style: none;
    display: flex;
    margin-left: 230px;
}

.navigation li {
    padding: 20px;
    height: 29px;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

/*header ul li{*/
/*    margin-left: 10px;*/

/*}*/
header nav {
    display: flex;
}

.header-logo {
    margin-bottom: 30px;
    margin-left: 300px;
}

.text-banner-info {
    width: 713px;
    height: 481px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /*border: 2px solid gray;*/
    margin-top: 150px;
}

.text-banner-1 {
    /* New innovation New motivation */

    width: 495px;
    height: 34px;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.12em;
    margin-left: 100px;

    color: rgba(176, 172, 172, 0.8);


}

.text-banner-2 {
    /* Тренуйся разом з GORILAS */

    width: 713px;
    /*height: 174px;*/
    /*left: 611px;*/
    /*top: 453px;*/

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    /*line-height: 88px;*/
    text-align: center;
    letter-spacing: -0.01em;

    color: #D2D0D0;


}

.text-banner-2 span {
    color: #AF0404;
}

.text-banner-info button {
    /* Frame 39 */
    display: flex;
    padding: 6px 30px;
    width: 380px;
    height: 50px;
    background: #AF0404;
    border-radius: 6px;

}

.button-text {
    /*width: 382px;*/
    /*height: 59px;*/
    color: #FFFFFF;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    display: flex;
    align-items: center;
}

.button-text svg {
    margin-bottom: -5px;
    margin-left: 10px;
}

.text-banner-3 {
    /* Перше заняття та консультація з тренером безкоштовно */
    width: 544px;
    height: 57px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: rgba(176, 172, 172, 0.8);
    margin-top: -20px;
}

.text-banner-3 span {
    color: #FFFFFF;
}

.header-logo-2 {
    margin-top: 50px;
    margin-left: 1150px;
}

main {
    background-color: #000000;
    /*width: 100vw;*/
    /*height: 1038px;*/
}

.section-1 {
    width: 100%;
    z-index: -2;
}

.box {
    width: 86%;
    margin-left: 100px;
    /*margin-top: 100px;*/
}

.section-1 h1 {
    /* Зробіть перший крок до здорового життя - відвідайте наш спортзал */

    width: 1625px;
    height: 163px;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.section-1 p {
    /* У нашому спортзалі вас чекають сучасні тренажери для кардіо та силових тренувань, зони для функціонального тренування і растяжки. Наші професійні тренери завжди готові надати персоналізовану підтримку і поради з харчування, щоб допомогти вам досягти найкращих результатів. Атмосфера в спортзалі є дружньою та мотиваційною, де кожен може знайти підтримку для досягнення своїх цілей фітнесу. */
    width: 1331px;
    height: 143px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-left: 30px;
    margin-top: -40px;
}

.section-1-info {
    display: flex;
    justify-content: space-between;
}

.section-1-logo {
    margin-top: 20px;
}
.img-play {

    width: 85.5vw;
}
/*.play-logo {*/
/*    position: relative;*/
/*    z-index: 2;*/
/*    margin-top: 150px;*/
/*    margin-left: 550px;*/
/*}*/

/*.time-logo {*/
/*    position: relative;*/
/*    z-index: 2;*/
/*    margin-top: 100px;*/
/*    margin-left: 1150px;*/
/*}*/
.info-training{
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    z-index: -1;
}
.info-training div{
    display: flex;
    margin-left: 50px;
}
.img-change{
    border-radius: 25px;
    border: 4px solid rgba(128, 128, 128, 0.5);
    width: 41vw;
    height: 49vh;
    /*margin-left: -40px;*/
}
.img-train{
    width: 41vw;
    height: 50vh;
}
.img-change2{
    width: 41vw;
    height: 47vh;
    border-radius: 25px;
    border: 4px solid rgba(128, 128, 128, 0.5);
    margin-top: 10px;

}
.img-train-2{
    width: 41vw;
    height: 50vh;
    margin-top: 5px;
}
.info-box-1 .info-box-2{
    position: relative;
    display: inline-block;
}
.info-text-1{
    /* ЗОНА ГРУПОВИХ ТРЕНУВАНЬ */
    position: absolute;
    width: 40vw;
    height: 50vh;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 43px;
    letter-spacing: 0.15em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
.info-text-2{
    /* КАРДІО ЗОНА */
    position: absolute;
    width: 130vw;
    height: 50vh;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 43px;
    /* identical to box height */
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}
.info-text-3{
    /* ЗОНА СИЛОВИХ ТРЕНУВАНЬ */
    position: absolute;
    width: 40vw;
    height: 55vh;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 43px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    justify-content: center;
    color: #FFFFFF;
}
.info-text-4{
    /* ЗОНА ДЛЯ ЙОГИ/СТРЕЙЧИНГУ */
    position: absolute;
    width: 130vw;
    height: 55.1vh;
    font-family: 'Montserrat', sans-serif, "Sans Serif Collection";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 43px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    justify-content: center;
    color: #FFFFFF;
}
.feedback{
    height: 100vh;
    border: 2px solid gray;
    margin-top: 150px;
}
.feedback-info span{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}
.feedback-info{
    display: flex;
    justify-content: space-evenly;
}
.feedback-info span:nth-of-type(2) {
    /* ВІДГУКИ ВІДВІДУВАЧІВ */
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 55px;
    /* identical to box height */
    color: #FFFFFF;
}
.feedback-info svg{
    margin-bottom: -10px;
}
.feedback-user {
    margin-top: 50px;
    display: flex;
    width: 100%;
    border: 2px solid gray;
    position: relative; /* Застосування відносного позиціонування для контейнера */
    overflow: hidden; /* Заборона виходу елементів за межі контейнера */
}

.feedback-box-1, .feedback-box-2, .feedback-box-3 {
    width: 600px;
    height: 300px;
    background-color: #FFFFFF;
    border: 4px solid rgba(128, 128, 128, 0.5);
    border-radius: 50px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.feedback-box-1 {
    left: -300px;
    clip-path: inset(0 0 0 50%);
}

.feedback-box-2 {
    left: calc(50% - 300px); /* Центрування другого блоку */
}

.feedback-box-3 {
    right: -300px;
    clip-path: inset(0 50% 0 0);
}

.feedback-box-1 p, .feedback-box-2 p, .feedback-box-3 p {
    width: 480px; /* Зменшено ширину, щоб текст не виходив за межі блоку */
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    text-align: center; /* Додано вирівнювання тексту по центру */
}